body {
    margin: 0;
    text-align: center;
    background:#0C4A6E;
}

.container {
    display: flex;
    justify-content: space-around;
}

.button{
    background:#0C4A6E;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color:#9AABD8;
}

.largeButton {
    background:#0C4A6E;
    box-sizing: border-box;
    width: 75px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    color:#9AABD8;
}
.score {
    
    width: 155px;
    height: 120px;
    font-size: 90px;
    color: #F94F6D;
    background: #080001;
    border-radius: 8px;
    margin: 20px;
}

.header {
    margin: 20px;
    width: 149px;
    height: 36px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */
    
    text-align: center;

    color: #EEEEEE;
}
.header2 {
    /*margin: px;*/
    height: 36px;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
}